
#contact li {
    margin-bottom:10px;
}
.m-container .m-jumbotron {
    margin-bottom:0;
    padding-left:15px;
    padding-right:15px;
}
.m-address {
    margin-bottom:0;

}

.block-address {
    margin-top:10px;
}
.block-icon-social {
    display:inline-block;
    margin-right:10px;
}

.block-icon-save-print {
    display:inline-block;
    margin-top:0px;
}

.img-portfolio {
    background-color: #eee;
    transition: background-color 1s;
    -webkit-transition: background-color 0.5s;
}

.img-portfolio:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
}
.img-portfolio:active,
.img-portfolio:active:focus {
    background-color: #777;
}

.m-container {
    background-color: #fbfbfb;
    /*border: 2px solid #969696;
    border-top:none;*/
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 4px 12px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 320px;

}


/*.modal-vertical-centered {
    transform: translate(0, 30%) !important;
    -ms-transform: translate(0, 30%) !important; *//* IE 9 *//*
    -webkit-transform: translate(0, 30%) !important; *//* Safari and Chrome *//*
}*/

.m-navbar ul:first-child li {

    font-size: 18px;
    line-height: 5px;

}

.m-navbar ul:first-child li a {

    color: #777;
}

.header-title {
    margin-top: 0px;
}

.header-skill {
    margin: 0;
}

.m-progress-bar {
    background-color: #f2c345;
}

.m-progress {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 15px;
    background: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #bbb #fff #bbb;
    box-shadow: inset 0px 2px 3px #bbb;
}

.icon-social, .m-address a {
    color: #777;
    transition: color 0.3s ease-out;
}

.icon-social:hover, .m-address a:hover {
    text-decoration: none;
    transition: color 0.5s ease;
    color: #428bca;
}


.text-portfolio {
    display: block;
}

.m-jumbotron {
    padding-top: 35px;
    padding-bottom: 10px;
    margin-botton: 0;
}

.row-nav {
    display: block;
    z-index: 1000;
    background: #f8f8f8;
    -webkit-box-shadow: 0 1px 0.5px 0px #888;
    -moz-box-shadow: 0 1px 0.5px 0px #888;
    box-shadow: 0 1px 0.5px 0px #888;
}

.row-top {
    margin-top: 20px;
}

textarea {
    resize: vertical;
}


.m-navbar-brand {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    color: #777;
}

.m-navbar {
    border: none;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    /*padding-left:0;*/
}

.m-body {
    background: url(../dark.jpg);
    color: #555;
    padding-top: 30px;
    padding-bottom: 30px;

}

.row .row-timeline:nth-child(2) {
    margin-top: 15px;
}

.js .container {
    display: none;
}

.row-content {
    margin-right: 20px;
    margin-left: 20px;
}

.row-top {
    margin-top: 30px;
}

.column-section-title h3 {
    color: #555;
}

div.no-bottom-margin {
    margin-bottom: 0;
}

.header-work {
    margin-top: 0;
    margin-bottom: 5px;
}

.text-work {
    display: block;
    margin-bottom: 10px;
}

.header-portfolio {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column-content-padding {
    padding-top: 5px;
    padding-bottom: 0px;

}

.m-form {
    max-width: 500px;
}

.p-year {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background-color: #428bca;
    padding-left: 4px;
    padding-right: 4px;

}

.block-year {
    display: inline-block;
}



#icon-stack-overflow:hover {
    color:#ff8a00;
}
#icon-github:hover {
    color:#513c7b;
}
#icon-android:hover {
    color:#96c200;
}
#icon-google-plus:hover {
    color:#df4a31;
}
/*.m-navbar-right {
    position:absolute;
    right:7px;
    top:0;
}*/
.column-content-first {
    border-top: 1px solid #969696;
}

.column-section-title {
    border-top: 2px solid #428bca;
}

/*.navbar-default .m-navbar-nav li.active a {
    color:#0575e8;
}*/
@media (max-width: 767px) {
    .m-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .col-nav {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 991px) {

    .block-icons {
        text-align:center;
    }

    /*.m-address {
       display:inline;
    }*/
    /*.block-address {

        display:table;
        margin-left:auto;
        margin-right:auto;
    }*/
    .col-about p, h1 {
        text-align:center;
    }
    .row-content {
        display: block;
    }

    .img-container {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }

    .img-container {
        width: 100%;
        max-width: 220px;
    }

    .m-jumbotron {
        margin-top: 15px;
    }

    .column-portfolio-item {
        padding-top: 15px;
    }


    .row-content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }

    .row-top {
        margin-top: 35px;
    }

    .column-content-first p:first-child {
        margin-top: 10px;
    }

    .column-section-title {
        border-top: 1px solid #969696;
    }

}

@media (min-width: 992px) {
    .img-container-second {
        margin-top: 20px;
    }

    .img-container {

    }

    .row-scroll {
        margin-top: -50px;
        padding-top: 50px;
    }

    .column-section-title {
        margin-top: -1px;
    }



    /*.col-about {
        height:150px;
    }*/
    .column-work {
        margin-left: -25px;
    }

    .col-img {
        padding-right: 45px;
    }

    .header-title {
        padding-right: 30px;
    }

    .column-section-title:after {
        content: "";
        position: absolute;
        right: 0;
        top: -10px;
        width: 30px;
        height: 100%;
        background-color: #fbfbfb;
        z-index: 998;

    }

    .column-section-title:before {
        content: "";
        position: absolute;
        right: 50px;
        top: 0px;
        height: 0;
        width: 0;
        /* border-left: 6px solid transparent;
         border-right: 6px solid transparent;
         border-top: 8px solid #428bca;*/
        z-index: 999;

    }

    .column-content-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row-top {
        margin-bottom: 30px;
    }

    .container {
        width: 940px;
    }

    .column-content-second {
        border-top: 1px solid #969696;
    }

}

@media (min-width: 768px) {
    .m-body .m-container .navbar-default .m-navbar-nav .active a {

        border-top: 7px solid #428bca;
        color: #428bca;
        background-image: none;
        filter: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        transition: all 0.1s;
    }

    .row-nav, .m-navbar {
        background-color: #f2f2f2;
        border-top: none;
    }

    .m-body .m-container .navbar-default .m-navbar-nav a {
        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        transition: color 3s;
        color: #666;
    }

    .m-body .m-container .navbar-default .m-navbar-nav a:not(:hover) {
        transition: color 0.1s;
    }

    .m-body .m-container .navbar-default .m-navbar-nav a:hover {
        color: #428bca;
        transition: color 0.5s;
    }

    .m-navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

@media print {
    a[href]:after { content: "" !important; }
}


