
.m-container {
    background-color: #fbfbfb;
    border: 2px solid #969696;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

}
.m-address {
    margin-top:35px;
}
.column-section-title h3 {

}
.m-navbar ul:first-child li {

    font-size:16px;
    line-height:21px;

}
.m-navbar ul:first-child li a {

    color:#777;
}
.header-title {
    margin-top:0px;
}



.header-skill {
    margin:0;
}
.m-progress-bar {
    background-color:#f2c345;
}
.m-progress {
    margin-top:8px;
    margin-bottom:8px;
    height:15px;
    background: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #bbb #fff #bbb;
    box-shadow: inset 0px 2px 3px #bbb;
}
.navbar-default .m-navbar-nav > .active > a {



}
.navbar-default .m-navbar-nav > .active
{

}
.icon-social, .m-address a {
    color: #777;
}
.icon-social:hover, .m-address a:hover {
    text-decoration:none;
}

.icon-social {
    margin-right:4px;
    margin-left:4px;
    /*margin-bottom:10px;
    display:inline-block;*/
}



.row-nav {
    display:block;
    z-index:1000;
    background:#f8f8f8;
}
.row-top {
    margin-top:20px;
}
.bottom-shadow {
    -webkit-box-shadow: 0 4px 2px 0px rgba(3, 3, 3, 0.2);
    -moz-box-shadow: 0 4px 2px 0px rgba(3, 3, 3, 0.2);
    box-shadow: 0 4px 2px 0px rgba(2,2,2,0.25);
}
.m-navbar-brand {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    color:#777;
}
.m-navbar {
    border: none;
    background-image:none;
    box-shadow: none;
    border-radius:0;
    /*padding-left:0;*/
}
.m-body {
    background: #333;
    color:#555;
    padding-top: 30px;
    padding-bottom: 30px;
}
.row .row-work:nth-child(2) {
    margin-top:15px;
}
.js .container { display: none; }

.row-content {
    margin-right:20px;
    margin-left:20px;
}

.row-top {
    margin-top:30px;
}

.column-section-title h3 {
    color:#555;
}
div.no-bottom-margin {
    margin-bottom:0;
}

.header-work {
    margin-top:0;
    margin-bottom:5px;
}
.text-work {
    display:block;
    margin-bottom: 10px;
}
.column-content-padding {
    padding-top:5px;
    padding-bottom:0px;

}


.p-year {
    color:#fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background-color:#428bca;
    padding-left:4px;
    padding-right:4px;

}
.block-year {
    display:inline-block;
}
/*.m-navbar-right {
    position:absolute;
    right:7px;
    top:0;
}*/
.column-content-first {
    border-top: 1px solid #969696;
}

.column-section-title {
    border-top: 3px solid #428bca;
}

/*.navbar-default .m-navbar-nav li.active a {
    color:#0575e8;
}*/
@media (max-width: 767px){
   .m-body {
       padding-top:0;
       padding-bottom:0;
   }
   .col-nav {
       padding-right:0;
       padding-left:0;
   }

}
@media (max-width: 991px) {
    .block-icon-social {
        float:none;
        margin:auto;
        text-align:center;
        margin-bottom:20px;
    }
    .row-content {
        margin-left:0;
        margin-right:0;
        margin-top:15px;
    }
    .row-top {
        margin-top: 35px;
    }
    .column-content-first p:first-child {
        margin-top:10px;
    }
    .column-section-title {
        border-top: 1px solid #969696;
    }

}
@media (min-width: 992px) {
    .block-icon-social {
       /* position:absolute;
        bottom:0;*/
    }
    /*.col-about {
        height:150px;
    }*/
    .column-work {
        margin-left: -25px;
    }
    .col-img {
        padding-right:45px;
    }
    .header-title {
        padding-right:30px;
    }
    .column-section-title:after {
        content:"";
        position:absolute;
        right:0;
        top:-10px;
        width:30px;
        height:100%;
        background-color:#fbfbfb;
        z-index:998;

    }
    .column-section-title:before {
        content:"";
        position:absolute;
        right:50px;
        top:0px;
        height:0;
        width:0;
       /* border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #428bca;*/
        z-index:999;

    }
    .column-content-padding {
        padding-top:30px;
        padding-bottom:30px;
    }
    .row-top {
        margin-bottom:20px;
    }

    .container {
        width: 940px;
    }
    .line-top-lg {
        border-top: 1px solid #969696;
    }

}

@media (min-width: 768px) {
   .m-navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
@media (max-width: 767px) {
    .m-navbar-nav{
        float:left;
        margin: 0;
        display: block;

    }
}

